.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 18px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-Black-03.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-BlackOblique-04.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-Book-01.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-BookOblique-02.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-Heavy-05.ttf");
}

@font-face {
  font-family: avenir;
  src: url("../fonts/Avenir-HeavyOblique-06.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-Light-07.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-LightOblique-08.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-Medium-09.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-MediumOblique-10.ttf");
}

@font-face {
  font-family: avenir;
  src: url("../fonts/Avenir-Oblique-11.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Avenir-Roman-12.ttf");
}

.container {
  width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0px;
  }
}

.hide-resposive {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media only screen and (max-width: 992px) {
  .hide-resposive {
    display: none !important;
  }
}

.hide-desktop {
  display: none !important;
}

@media only screen and (max-width: 992px) {
  .hide-desktop {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: 'Yeseva One', cursive;
}

body {
  margin: 0px;
  font-family: 'Lato' !important;
  font-family: 'Lato', sans-serif;
  background: #ffffff;
}

@media only screen and (max-width: 992px) {
  body {
    padding-bottom: 40px;
  }
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 992px) {
  .ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.input-widget label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.input-widget input {
  width: 100%;
  outline: none;
  height: 64px;
  border: 1px solid #d8d8d8;
  margin-bottom: 40px;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #8d9397;
}

button,
input,
textarea {
  outline: none;
  padding: 0px 5px;
  font-size: 16px;
}

textarea {
  padding: 5px;
}

.button {
  height: 35px;
  background: #eb592d;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 14px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover {
  border: 1px solid #eb592d;
  background-color: transparent;
  color: #eb592d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button.secondary {
  background: #73D09A;
}

.reverse-button {
  border: 1px solid #eb592d;
  background-color: transparent;
  color: #eb592d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 35px;
  letter-spacing: 0.03em;
  font-size: 14px;
  box-sizing: border-box;
}

.reverse-button:hover {
  background: #eb592d;
  color: #fff;
  border: 0px;
}

/*SEHHATEC*/
.purple-short-hr {
  border: none;
  background-color: #eb592d;
  height: 1px;
  width: 970px;
  margin-top: 5px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .purple-short-hr {
    width: 100%;
  }
}

.purple-long-hr {
  border: none;
  background-color: #eb592d;
  height: 1px;
  width: 1170px;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .purple-long-hr {
    width: 100%;
  }
}

.gray-short-hr {
  border: none;
  height: 1px;
  width: 970px;
  background-color: #e9e9e9;
  margin: 30px 0px;
}

@media only screen and (max-width: 992px) {
  .gray-short-hr {
    width: 100%;
  }
}

.h2-sehhatec {
  font-size: 22px;
  color: #eb592d;
}

@media only screen and (max-width: 992px) {
  .h2-sehhatec {
    font-size: 20px;
  }
}

input {
  font-size: 18px;
  color: #eb592d;
}

input::-webkit-input-placeholder {
  font-size: 18px;
  color: #c1c1c1;
}

input:-ms-input-placeholder {
  font-size: 18px;
  color: #c1c1c1;
}

input::-ms-input-placeholder {
  font-size: 18px;
  color: #c1c1c1;
}

input::placeholder {
  font-size: 18px;
  color: #c1c1c1;
}

textarea {
  resize: none;
}

textarea::-webkit-input-placeholder {
  font-size: 18px;
  color: #c1c1c1;
}

textarea:-ms-input-placeholder {
  font-size: 18px;
  color: #c1c1c1;
}

textarea::-ms-input-placeholder {
  font-size: 18px;
  color: #c1c1c1;
}

textarea::placeholder {
  font-size: 18px;
  color: #c1c1c1;
}

i {
  color: #8f9195;
}

@media screen and (max-width: 992px) {
  #res {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-position: center;
    -webkit-box-shadow: 5px 5px 13px 0 rgba(204, 22, 134, 0.3);
            box-shadow: 5px 5px 13px 0 rgba(204, 22, 134, 0.3);
    display: block;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1;
  }
}

header {
  background: transparent;
  z-index: 12;
  width: 100%;
  position: absolute;
  padding: 20px 0px;
  position: fixed;
}

@media screen and (max-width: 992px) {
  header {
    height: 80px;
    width: 100% !important;
  }
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 992px) {
  header .content {
    width: 100% !important;
  }
}

header .content .icon {
  display: none;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  header .content .icon {
    display: block;
  }
}

header .content .icon i {
  display: none;
}

@media screen and (max-width: 992px) {
  header .content .icon i {
    display: block;
  }
}

header .content img {
  height: 38px;
}

header .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  header .content ul {
    background-color: #1F1F1F;
    padding: 20px;
    text-align: center;
    display: none;
  }
}

header .content ul li {
  list-style: none;
}

header .content ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 50px 20px 0px;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  header .content ul li a {
    padding: 20px;
    text-align: center;
  }
}

header .content ul li button {
  height: 60px;
  width: 180px;
}

.owl-carousel .owl-nav {
  visibility: hidden;
}

.owl-carousel .owl-dots {
  position: relative;
  top: -80px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.owl-carousel .cover, .owl-carousel .cover1, .owl-carousel .cover2 {
  background-image: url(../images/banner/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;
}

.owl-carousel .cover .overlay, .owl-carousel .cover1 .overlay, .owl-carousel .cover2 .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.owl-carousel .cover .overlay .container, .owl-carousel .cover1 .overlay .container, .owl-carousel .cover2 .overlay .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.owl-carousel .cover .overlay .container .content, .owl-carousel .cover1 .overlay .container .content, .owl-carousel .cover2 .overlay .container .content {
  max-width: 50%;
}

@media screen and (max-width: 992px) {
  .owl-carousel .cover .overlay .container .content, .owl-carousel .cover1 .overlay .container .content, .owl-carousel .cover2 .overlay .container .content {
    max-width: 100%;
  }
}

.owl-carousel .cover .overlay .container .content h1, .owl-carousel .cover1 .overlay .container .content h1, .owl-carousel .cover2 .overlay .container .content h1 {
  font-family: "Yeseva One";
  font-size: 65px;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 75px;
}

@media screen and (max-width: 992px) {
  .owl-carousel .cover .overlay .container .content h1, .owl-carousel .cover1 .overlay .container .content h1, .owl-carousel .cover2 .overlay .container .content h1 {
    font-size: 30px;
    line-height: 55px;
  }
}

.owl-carousel .cover .overlay .container .content p, .owl-carousel .cover1 .overlay .container .content p, .owl-carousel .cover2 .overlay .container .content p {
  margin-bottom: 30px;
}

.owl-carousel .cover .overlay .container .content button, .owl-carousel .cover1 .overlay .container .content button, .owl-carousel .cover2 .overlay .container .content button {
  height: 60px;
  width: 180px;
}

@media screen and (max-width: 992px) {
  .owl-carousel .cover .overlay .container .content button, .owl-carousel .cover1 .overlay .container .content button, .owl-carousel .cover2 .overlay .container .content button {
    height: 40px;
    width: 120px;
  }
}

.cover1 {
  background-image: url(../images/banner/banner2.png);
}

.cover2 {
  background-image: url(../images/banner/banner3.png);
}

/*ABOUT US*/
.about-us {
  padding: 150px 0px;
  background: #FDF9F6;
}

@media screen and (max-width: 992px) {
  .about-us {
    padding: 40px 0px;
  }
}

.about-us .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 992px) {
  .about-us .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .about-us .content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about-us .content .left {
  position: relative;
}

@media screen and (max-width: 992px) {
  .about-us .content .left {
    margin-bottom: 20px;
  }
}

.about-us .content .left .r-img {
  position: absolute;
  border-left: 15px solid white;
  border-top: 15px solid white;
  right: -160px;
  bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .about-us .content .left .r-img {
    width: 145px;
    right: -40px;
    bottom: 0px;
    height: 182px;
  }
}

@media screen and (max-width: 992px) {
  .about-us .content .left .l-img {
    width: 280px;
  }
}

.about-us .content .right {
  width: 472px;
}

@media screen and (max-width: 992px) {
  .about-us .content .right {
    width: 100%;
  }
}

.about-us .content .right h3 {
  margin-bottom: 21px;
  font-size: 50px;
  color: #222222;
}

@media screen and (max-width: 992px) {
  .about-us .content .right h3 {
    font-size: 35px;
  }
}

.about-us .content .right p {
  font-size: 16px;
}

.about-us .content .right h2 {
  margin: 37px 0px 55px 0px;
  font-size: 30px;
}

@media screen and (max-width: 992px) {
  .about-us .content .right h2 {
    font-size: 25px;
  }
}

.about-us .content .right h2 span {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .about-us .content .right h2 span {
    font-size: 22px;
  }
}

.about-us .content .right button {
  width: 153px;
  height: 60px;
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .about-us .content .right button {
    height: 40px;
    width: 120px;
  }
}

/*OUR SERVICES*/
.our-service {
  padding: 150px 0px;
}

@media screen and (max-width: 992px) {
  .our-service {
    padding: 40px 0px;
  }
}

.our-service .content .our-service-description {
  margin-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .our-service .content .our-service-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-service .content .our-service-description h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  color: #222222;
  margin-bottom: 21px;
}

@media screen and (max-width: 992px) {
  .our-service .content .our-service-description h2 {
    font-size: 35px;
  }
}

.our-service .content .our-service-description p {
  line-height: 32px;
  text-align: center;
  width: 540px;
  font-size: 16px;
  color: #959595;
  margin-bottom: 13px;
}

@media screen and (max-width: 992px) {
  .our-service .content .our-service-description p {
    width: 100%;
  }
}

.our-service .content .our-service-description-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .our-service .content .our-service-description-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-service .content .our-service-description-boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(235, 89, 45, 0.3);
  width: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .our-service .content .our-service-description-boxes .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .our-service .content .our-service-description-boxes .box {
    width: 100%;
    margin-bottom: 20px;
  }
}

.our-service .content .our-service-description-boxes .box .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 200px;
}

@media only screen and (max-width: 992px) {
  .our-service .content .our-service-description-boxes .box .box-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-service .content .our-service-description-boxes .box .box-img img {
  width: 100%;
  height: 100% !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.our-service .content .our-service-description-boxes .box .box-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.our-service .content .our-service-description-boxes .box .box-img .icon-div {
  background-color: white;
  padding: 20px 25px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  -webkit-box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.28);
}

.our-service .content .our-service-description-boxes .box .box-img .icon-div i {
  color: #eb592d;
}

.our-service .content .our-service-description-boxes .box .box-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 64px 60px;
}

@media only screen and (max-width: 992px) {
  .our-service .content .our-service-description-boxes .box .box-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-service .content .our-service-description-boxes .box .box-description h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 8px;
}

.our-service .content .our-service-description-boxes .box .box-description p {
  width: 228px;
  line-height: 32px;
  text-align: center;
}

/*OUR PRICING*/
.our-pricing {
  background-image: url(../images/banner/prise_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 819px;
  padding: 144px 0px 100px 0px;
}

@media screen and (max-width: 992px) {
  .our-pricing {
    height: 1200px;
    padding: 40px 0px 40px 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.our-pricing .overlay-2 {
  background: rgba(253, 249, 246, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 992px) {
  .our-pricing .overlay-2 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 992px) {
  .our-pricing .overlay-2 .content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.our-pricing .overlay-2 .content .our-pricing-description {
  margin-bottom: 53px;
}

.our-pricing .overlay-2 .content .our-pricing-description h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  color: #222222;
  margin-bottom: 21px;
}

.our-pricing .overlay-2 .content .our-pricing-description p {
  font-size: 16px;
  line-height: 32px;
  color: #7f7f7f;
  font-weight: 400;
  margin-bottom: 13px;
  width: 540px;
}

@media screen and (max-width: 992px) {
  .our-pricing .overlay-2 .content .our-pricing-description p {
    width: 100%;
  }
}

.our-pricing .overlay-2 .content .owl-carousel .owl-dots {
  visibility: hidden;
}

.our-pricing .overlay-2 .content .owl-carousel .owl-nav {
  z-index: 150;
  visibility: visible;
  position: relative;
  margin: initial;
  width: 100px;
  left: 90%;
  top: -490px;
}

@media screen and (max-width: 992px) {
  .our-pricing .overlay-2 .content .owl-carousel .owl-nav {
    left: 70%;
    top: -1110px;
  }
}

.our-pricing .overlay-2 .content .owl-carousel .owl-nav .owl-prev, .our-pricing .overlay-2 .content .owl-carousel .owl-nav .owl-next {
  background-color: white;
  color: #f39b80 !important;
  border-radius: 4px;
  border: 1px solid #ddc4c4;
  height: 34px;
  width: 34px;
  font-size: 27px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 0px;
}

.our-pricing .overlay-2 .content .owl-carousel .owl-nav .owl-prev span, .our-pricing .overlay-2 .content .owl-carousel .owl-nav .owl-next span {
  line-height: 0px;
}

.our-pricing .overlay-2 .content .owl-carousel .owl-nav .owl-prev:hover, .our-pricing .overlay-2 .content .owl-carousel .owl-nav .owl-next:hover {
  background-color: #f02081;
  border: none;
}

.our-pricing .overlay-2 .content .owl-carousel .owl-nav .owl-prev:hover span, .our-pricing .overlay-2 .content .owl-carousel .owl-nav .owl-next:hover span {
  color: white;
  line-height: 0px;
}

.our-pricing .overlay-2 .content .owl-carousel .hair-styling {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 992px) {
  .our-pricing .overlay-2 .content .owl-carousel .hair-styling {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price {
  width: 40%;
}

@media screen and (max-width: 992px) {
  .our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price {
    width: 100%;
  }
}

.our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price h2 {
  color: #eb592d;
  margin-bottom: 35px;
  font-size: 25px;
}

.our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price .details-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

@media only screen and (max-width: 992px) {
  .our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price .details-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price .details-price .img-div {
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  .our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price .details-price .img-div {
    margin-right: 0px;
  }
}

.our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price .details-price .img-div img {
  height: 60px;
  width: 60px;
}

.our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price .details-price .hair-style-info span {
  font-size: 16px;
  color: #222222;
  font-family: "Yeseva One", cursive;
}

.our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price .details-price .hair-style-info .dotted {
  color: #d7d4d1;
  margin: 0px 15px;
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price .details-price .hair-style-info .dotted {
    margin: 0px 10px;
    font-size: 10px;
  }
}

.our-pricing .overlay-2 .content .owl-carousel .hair-styling .hair-styling-price .details-price .hair-style-info p {
  font-size: 16px;
  color: #7f7f7f;
  font-weight: 400;
}

/*Barbers*/
.barbers {
  padding: 150px 0px;
}

.barbers .content .barbers-description {
  margin-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .barbers .content .barbers-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.barbers .content .barbers-description h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  color: #222222;
  margin-bottom: 21px;
}

.barbers .content .barbers-description p {
  line-height: 32px;
  text-align: center;
  width: 540px;
  font-size: 16px;
  color: #959595;
  margin-bottom: 13px;
}

@media screen and (max-width: 992px) {
  .barbers .content .barbers-description p {
    width: 100%;
  }
}

.barbers .content .barbers-description-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .barbers .content .barbers-description-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.barbers .content .barbers-description-boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .barbers .content .barbers-description-boxes .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .barbers .content .barbers-description-boxes .box {
    width: 100%;
    border: 1px solid rgba(235, 89, 45, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 15px;
  }
}

.barbers .content .barbers-description-boxes .box:hover .box-img img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.barbers .content .barbers-description-boxes .box .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 367px;
}

@media only screen and (max-width: 992px) {
  .barbers .content .barbers-description-boxes .box .box-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .barbers .content .barbers-description-boxes .box .box-img {
    width: 100%;
  }
}

.barbers .content .barbers-description-boxes .box .box-img img {
  width: 100%;
  height: 100% !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.barbers .content .barbers-description-boxes .box .box-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.barbers .content .barbers-description-boxes .box .box-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: #fdf9f6;
  padding: 36px 0 35px 0;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .barbers .content .barbers-description-boxes .box .box-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.barbers .content .barbers-description-boxes .box .box-description h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 8px;
}

.barbers .content .barbers-description-boxes .box .box-description p {
  font-size: 18px;
  font-weight: 400;
  color: #eb592d;
  text-align: center;
}

/*Testimonial*/
.testimonial {
  padding-bottom: 144px;
}

@media screen and (max-width: 992px) {
  .testimonial {
    padding-bottom: 40px;
  }
}

.testimonial h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  color: #222222;
  text-align: center;
  margin-bottom: 21px;
}

.testimonial .owl-carousel .owl-dots {
  visibility: hidden;
}

.testimonial .owl-carousel .content .testimonial-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .testimonial .owl-carousel .content .testimonial-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonial .owl-carousel .content .testimonial-description p {
  text-align: center;
  color: #7f7f7f;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px;
  font-style: italic;
  width: 635px;
}

@media screen and (max-width: 992px) {
  .testimonial .owl-carousel .content .testimonial-description p {
    width: 100%;
  }
}

.testimonial .owl-carousel .content .testimonial-description img {
  height: 60px;
  width: 60px;
}

.testimonial .owl-carousel .content .testimonial-description h5 {
  color: #7f7f7f;
  font-weight: 400;
  font-size: 18px;
  margin-top: 21px;
}

/*form*/
.form {
  padding: 150px 0px 120px 0px;
  background: #fdf9f6;
}

.form h3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  color: #222222;
  margin-bottom: 21px;
}

@media screen and (max-width: 992px) {
  .form h3 {
    font-size: 25px;
  }
}

.form .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 992px) {
  .form .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form .content .make-appointment-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 992px) {
  .form .content .make-appointment-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form .content .make-appointment-inputs input, .form .content .make-appointment-inputs textarea {
  resize: none;
  height: 50px;
  width: 567px;
  border: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #c1c1c1;
  padding-left: 10px;
  color: #000;
  background: transparent;
  margin-bottom: 32px;
}

@media screen and (max-width: 992px) {
  .form .content .make-appointment-inputs input, .form .content .make-appointment-inputs textarea {
    width: 100%;
  }
}

.form .content .make-appointment-inputs input::-webkit-input-placeholder, .form .content .make-appointment-inputs textarea::-webkit-input-placeholder {
  color: #c1c1c1;
}

.form .content .make-appointment-inputs input:-ms-input-placeholder, .form .content .make-appointment-inputs textarea:-ms-input-placeholder {
  color: #c1c1c1;
}

.form .content .make-appointment-inputs input::-ms-input-placeholder, .form .content .make-appointment-inputs textarea::-ms-input-placeholder {
  color: #c1c1c1;
}

.form .content .make-appointment-inputs input::placeholder, .form .content .make-appointment-inputs textarea::placeholder {
  color: #c1c1c1;
}

.form .content .make-appointment-inputs textarea {
  height: 97px;
}

.form .content .make-appointment-inputs p {
  width: 390px;
  margin-bottom: 40px;
  color: #464444;
  line-height: 30px;
}

@media screen and (max-width: 992px) {
  .form .content .make-appointment-inputs p {
    width: 100%;
  }
}

.form .content .make-appointment-inputs button {
  width: 185px;
  height: 60px;
}

@media screen and (max-width: 992px) {
  .form .content .make-appointment-inputs button {
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
  }
}

.form .content .details div {
  width: 100%;
  margin-bottom: 36px;
}

.form .content .details div h2 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #4a4948;
  font-weight: 400;
  line-height: 1.2em;
}

.form .content .details div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 350px;
  font-size: 16px;
  line-height: 30px;
  color: #7f7f7f;
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 992px) {
  .form .content .details div p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .form .content .details div p {
    width: 100%;
  }
}

.form .content .details div p span {
  width: 50%;
}

/*FOOTER*/
footer {
  background-color: #0d0e0f;
  padding: 130px 0px 110px 0px;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 992px) {
  footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .content div {
  margin-right: 50px;
}

footer .content div:last-child {
  margin-right: 0px;
}

footer .content .logo {
  width: 300px;
}

footer .content .logo img {
  margin-bottom: 35px;
}

footer .content .logo p {
  color: #959595;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 30px;
}

footer .content .logo ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
}

footer .content .logo ul li a {
  color: #959595;
  text-decoration: none;
}

footer .content .logo ul li a:hover {
  color: #eb592d;
}

footer .content .links ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .content .links ul h3 {
  margin: 20px 0px 38px 0px;
  font-size: 18px;
  color: white;
}

footer .content .links ul li {
  margin-bottom: 15px;
}

footer .content .links ul li a {
  color: #959595;
  text-decoration: none;
  font-size: 16px;
}

footer .content .links ul li a:hover {
  color: #eb592d;
}

/*POPUP*/
#myImg {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 50;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(74, 54, 0, 0.6);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border-radius: initial;
}

.modal-content .make-appointment {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .modal-content .make-appointment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal-content .make-appointment button {
  width: 100%;
  height: 60px;
}

.modal-content .make-appointment h2 {
  text-align: center;
  font-size: 22px;
  color: #1F1F1F;
  margin-bottom: 46px;
  line-height: 1.2em;
}

.modal-content .make-appointment .inputs, .modal-content .make-appointment .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /**/
  /**/
}

@media only screen and (max-width: 992px) {
  .modal-content .make-appointment .inputs, .modal-content .make-appointment .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal-content .make-appointment .inputs .input-group, .modal-content .make-appointment .input .input-group {
  width: 49%;
  position: relative;
  display: table;
  border-collapse: separate;
}

@media screen and (max-width: 992px) {
  .modal-content .make-appointment .inputs .input-group, .modal-content .make-appointment .input .input-group {
    width: 100%;
  }
}

.modal-content .make-appointment .inputs .input-group .form-control, .modal-content .make-appointment .input .input-group .form-control {
  border-radius: initial;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
}

.modal-content .make-appointment .inputs .input-group .input-group-addon, .modal-content .make-appointment .input .input-group .input-group-addon {
  border-radius: initial;
  height: 50px !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: initial;
  border: none;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

.modal-content .make-appointment .inputs .input-group .input-group-addon .glyphicon, .modal-content .make-appointment .input .input-group .input-group-addon .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.modal-content .make-appointment .inputs .input-group .input-group-addon .glyphicon-time:before, .modal-content .make-appointment .input .input-group .input-group-addon .glyphicon-time:before {
  content: "\e023";
}

.modal-content .make-appointment .inputs select, .modal-content .make-appointment .input select {
  width: 49%;
  height: 50px;
  margin-bottom: 30px;
  color: #aca5a5;
  padding: 0px 4px;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .modal-content .make-appointment .inputs select, .modal-content .make-appointment .input select {
    width: 100%;
  }
}

.modal-content .make-appointment .inputs select:focus, .modal-content .make-appointment .input select:focus {
  outline: none;
}

.modal-content .make-appointment .inputs input, .modal-content .make-appointment .input input {
  width: 49%;
  height: 50px;
  margin-bottom: 30px;
  color: #aca5a5;
  padding: 18px;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .modal-content .make-appointment .inputs input, .modal-content .make-appointment .input input {
    width: 100%;
  }
}

.modal-content .make-appointment .inputs input:focus, .modal-content .make-appointment .input input:focus {
  outline: none;
  border-bottom: 1px solid #959595;
}

.modal-content .make-appointment .inputs input::-webkit-input-placeholder, .modal-content .make-appointment .input input::-webkit-input-placeholder {
  color: #aca5a5;
}

.modal-content .make-appointment .inputs input:-ms-input-placeholder, .modal-content .make-appointment .input input:-ms-input-placeholder {
  color: #aca5a5;
}

.modal-content .make-appointment .inputs input::-ms-input-placeholder, .modal-content .make-appointment .input input::-ms-input-placeholder {
  color: #aca5a5;
}

.modal-content .make-appointment .inputs input::placeholder, .modal-content .make-appointment .input input::placeholder {
  color: #aca5a5;
}

.modal-content .make-appointment .inputs input[type="date"], .modal-content .make-appointment .input input[type="date"] {
  color: #aca5a5;
  display: block;
  position: relative;
  padding: 1rem 3.5rem 1rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;
  cursor: pointer;
}

.modal-content .make-appointment .inputs input[type="date"]:focus, .modal-content .make-appointment .input input[type="date"]:focus {
  outline: none;
  border-bottom: 1px solid #959595;
}

.modal-content .make-appointment .inputs ::-webkit-datetime-edit-month-field:hover,
.modal-content .make-appointment .inputs ::-webkit-datetime-edit-day-field:hover,
.modal-content .make-appointment .inputs ::-webkit-datetime-edit-year-field:hover, .modal-content .make-appointment .input ::-webkit-datetime-edit-month-field:hover,
.modal-content .make-appointment .input ::-webkit-datetime-edit-day-field:hover,
.modal-content .make-appointment .input ::-webkit-datetime-edit-year-field:hover {
  background: rgba(0, 120, 250, 0.1);
}

.modal-content .make-appointment .inputs ::-webkit-datetime-edit-text, .modal-content .make-appointment .input ::-webkit-datetime-edit-text {
  opacity: 0;
}

.modal-content .make-appointment .inputs ::-webkit-clear-button,
.modal-content .make-appointment .inputs ::-webkit-inner-spin-button, .modal-content .make-appointment .input ::-webkit-clear-button,
.modal-content .make-appointment .input ::-webkit-inner-spin-button {
  display: none;
}

.modal-content .make-appointment .inputs ::-webkit-calendar-picker-indicator, .modal-content .make-appointment .input ::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 2.5rem;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  color: #ddd;
  background: #ddd;
}

.modal-content .make-appointment .inputs input[type="date"]:hover::-webkit-calendar-picker-indicator, .modal-content .make-appointment .input input[type="date"]:hover::-webkit-calendar-picker-indicator {
  opacity: 0.05;
}

.modal-content .make-appointment .inputs input[type="date"]:hover::-webkit-calendar-picker-indicator:hover, .modal-content .make-appointment .input input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
  opacity: 0.15;
}

.modal-content .make-appointment .input input {
  width: 100%;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/*
font-family: 'Yeseva One', ;
font-family: 'Lato', ;
*/
/*owl-carousel,.owl-theme{
    @media screen and (max-width: 992px) {
        height:100vh;
      }
}*/
.owl-dots {
  position: absolute;
  top: 600px;
  right: 50%;
}

.contact-cover {
  background-image: url(../images/banner/bradcam.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  height: 380px;
  color: white;
}

.contact-cover .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-cover .overlay .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-cover .overlay .container .content {
  max-width: 50%;
}

.contact-cover .overlay .container .content h1 {
  font-family: "Yeseva One";
  font-size: 65px;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 75px;
}

@media screen and (max-width: 992px) {
  .contact-cover .overlay .container .content h1 {
    font-size: 35px;
  }
}

.google-maps {
  padding: 130px 0px 100px 0px;
}

.get-in-touch {
  padding: 130px 0px 100px 0px;
}

.get-in-touch h2 {
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: 600;
  color: #1F1F1F;
}

.get-in-touch .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 992px) {
  .get-in-touch .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.get-in-touch .content .get-in-touch-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 992px) {
  .get-in-touch .content .get-in-touch-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.get-in-touch .content .get-in-touch-inputs input, .get-in-touch .content .get-in-touch-inputs textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e5e6e9;
  padding: 6px 12px 6px 18px;
  width: 698px;
  height: 171px;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .get-in-touch .content .get-in-touch-inputs input, .get-in-touch .content .get-in-touch-inputs textarea {
    width: 100%;
  }
}

.get-in-touch .content .get-in-touch-inputs input {
  height: 48px;
}

.get-in-touch .content .get-in-touch-inputs .two-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .get-in-touch .content .get-in-touch-inputs .two-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.get-in-touch .content .get-in-touch-inputs .two-inputs input {
  width: 318px;
}

@media screen and (max-width: 992px) {
  .get-in-touch .content .get-in-touch-inputs .two-inputs input {
    width: 100%;
  }
}

.get-in-touch .content .get-in-touch-inputs button {
  width: 138px;
  height: 59px;
}

@media screen and (max-width: 992px) {
  .get-in-touch .content .get-in-touch-inputs button {
    height: 40px;
    margin-bottom: 20px;
  }
}

.get-in-touch .content .get-in-touch-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 992px) {
  .get-in-touch .content .get-in-touch-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.get-in-touch .content .get-in-touch-contacts .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 992px) {
  .get-in-touch .content .get-in-touch-contacts .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .get-in-touch .content .get-in-touch-contacts .contact-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.get-in-touch .content .get-in-touch-contacts .contact-info i {
  margin-right: 20px;
  font-size: 27px;
}

.get-in-touch .content .get-in-touch-contacts .contact-info div h5 {
  font-size: 16px;
  color: #2a2a2a;
}

.get-in-touch .content .get-in-touch-contacts .contact-info div p {
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.service-cover {
  background-image: url(../images/banner/bradcam.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  height: 380px;
  color: white;
}

.service-cover .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-cover .overlay .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service-cover .overlay .container .content {
  max-width: 50%;
}

.service-cover .overlay .container .content h1 {
  font-family: "Yeseva One";
  font-size: 65px;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 75px;
}

@media screen and (max-width: 992px) {
  .service-cover .overlay .container .content h1 {
    font-size: 35px;
  }
}
/*# sourceMappingURL=main.css.map */