h1,
h2,
h5,
h4,
hr,
span,
p {
  margin: 0px;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0px;
  }
}

body {
  margin: 0px;
  font-family: "Lato";
}

header, .navbar {
  --background: transparent;
  background: var(--background);
  z-index: 12;
  width: 100%;
  position: absolute;
  padding: 20px 0px;
  position: fixed;
}

header .container, .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  header .container img, .navbar .container img {
    position: fixed;
  }
}

header .container ul, .navbar .container ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  header .container ul, .navbar .container ul {
    display: none;
    width: 100%;
    background: #fff;
    color: black;
    width: 80% !important;
    position: fixed;
    top: 78px;
    right: 20px;
    margin: 0px;
    height: 50%;
    text-align: left;
  }
}

header .container ul li, .navbar .container ul li {
  list-style: none;
}

header .container ul li a, .navbar .container ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 50px 20px 0px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header .container ul li a, .navbar .container ul li a {
    color: black;
  }
}

header .container ul li button, .navbar .container ul li button {
  background-color: #eb592d;
  border: 1px solid #eb592d;
}

@media screen and (max-width: 768px) {
  header .container ul li button, .navbar .container ul li button {
    display: none;
  }
}

header .container ul li button a, .navbar .container ul li button a {
  padding: 20px 50px;
}

header .container ul li button:hover, .navbar .container ul li button:hover {
  background-color: transparent;
}

header .container ul li button:hover a, .navbar .container ul li button:hover a {
  color: #eb592d;
  padding: 20px 50px;
}

@media screen and (max-width: 768px) {
  header, .navbar {
    width: 100%;
    background: none;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  #res {
    background-image: url(../images/Untitled-2.png);
    height: 40px;
    width: 52px;
    border-radius: 5px;
    background-position: center;
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 12;
  }
}

.nav-scrolled {
  --background:black;
}

.owl-carousel .owl-nav, .owl-theme .owl-nav {
  display: none;
}

.owl-carousel .owl-dots, .owl-theme .owl-dots {
  position: absolute;
  top: 610px;
  left: 580px;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-dots, .owl-theme .owl-dots {
    top: 30;
    left: 0;
    padding: 0px 0px 0px 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.owl-carousel .cover, .owl-carousel .cover1, .owl-carousel .cover2, .owl-theme .cover, .owl-theme .cover1, .owl-theme .cover2 {
  background-image: url(../images/banner/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;
}

.owl-carousel .cover .overlay, .owl-carousel .cover1 .overlay, .owl-carousel .cover2 .overlay, .owl-theme .cover .overlay, .owl-theme .cover1 .overlay, .owl-theme .cover2 .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 20;
}

.owl-carousel .cover .overlay .container, .owl-carousel .cover1 .overlay .container, .owl-carousel .cover2 .overlay .container, .owl-theme .cover .overlay .container, .owl-theme .cover1 .overlay .container, .owl-theme .cover2 .overlay .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 40%;
  z-index: 20;
  padding-left: 0px;
  margin-left: 200px;
}

@media screen and (max-width: 768px) {
  .owl-carousel .cover .overlay .container, .owl-carousel .cover1 .overlay .container, .owl-carousel .cover2 .overlay .container, .owl-theme .cover .overlay .container, .owl-theme .cover1 .overlay .container, .owl-theme .cover2 .overlay .container {
    max-width: 100%;
    margin-left: 0px;
  }
}

.owl-carousel .cover .overlay .container h1, .owl-carousel .cover1 .overlay .container h1, .owl-carousel .cover2 .overlay .container h1, .owl-theme .cover .overlay .container h1, .owl-theme .cover1 .overlay .container h1, .owl-theme .cover2 .overlay .container h1 {
  font-family: "Yeseva One";
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 75px;
}

@media screen and (max-width: 768px) {
  .owl-carousel .cover .overlay .container h1, .owl-carousel .cover1 .overlay .container h1, .owl-carousel .cover2 .overlay .container h1, .owl-theme .cover .overlay .container h1, .owl-theme .cover1 .overlay .container h1, .owl-theme .cover2 .overlay .container h1 {
    font-size: 35px;
    line-height: 45px;
  }
}

.owl-carousel .cover .overlay .container p, .owl-carousel .cover1 .overlay .container p, .owl-carousel .cover2 .overlay .container p, .owl-theme .cover .overlay .container p, .owl-theme .cover1 .overlay .container p, .owl-theme .cover2 .overlay .container p {
  margin-bottom: 30px;
}

.owl-carousel .cover .overlay .container button, .owl-carousel .cover1 .overlay .container button, .owl-carousel .cover2 .overlay .container button, .owl-theme .cover .overlay .container button, .owl-theme .cover1 .overlay .container button, .owl-theme .cover2 .overlay .container button {
  background-color: #eb592d;
  border: 1px solid #eb592d;
  padding: 20px 50px;
}

.owl-carousel .cover .overlay .container button a, .owl-carousel .cover1 .overlay .container button a, .owl-carousel .cover2 .overlay .container button a, .owl-theme .cover .overlay .container button a, .owl-theme .cover1 .overlay .container button a, .owl-theme .cover2 .overlay .container button a {
  text-decoration: none;
  color: white;
}

.owl-carousel .cover .overlay .container button:hover, .owl-carousel .cover1 .overlay .container button:hover, .owl-carousel .cover2 .overlay .container button:hover, .owl-theme .cover .overlay .container button:hover, .owl-theme .cover1 .overlay .container button:hover, .owl-theme .cover2 .overlay .container button:hover {
  background-color: transparent;
}

.owl-carousel .cover .overlay .container button:hover a, .owl-carousel .cover1 .overlay .container button:hover a, .owl-carousel .cover2 .overlay .container button:hover a, .owl-theme .cover .overlay .container button:hover a, .owl-theme .cover1 .overlay .container button:hover a, .owl-theme .cover2 .overlay .container button:hover a {
  color: #eb592d;
}

.owl-carousel .cover1, .owl-theme .cover1 {
  background-image: url(../images/banner/banner2.png);
}

.owl-carousel .cover2, .owl-theme .cover2 {
  background-image: url(../images/banner/banner3.png);
}

.section-two {
  background-color: #fdf9f6;
}

.section-two .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0px;
}

@media screen and (max-width: 768px) {
  .section-two .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 20px;
  }
}

.section-two .container .left {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .section-two .container .left {
    width: 100%;
  }
}

.section-two .container .left .l-img {
  position: relative;
}

.section-two .container .left .r-img {
  position: absolute;
  border: 15px solid white;
  border-width: 15px 0px 0px 15px;
  left: 450px;
  top: 795px;
}

@media screen and (max-width: 768px) {
  .section-two .container .left .r-img {
    left: 250px;
    top: 712px;
  }
}

.section-two .container .right {
  width: 40%;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .section-two .container .right {
    width: 100%;
  }
}

.section-two .container .right h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  color: #222222;
  font-family: "Yeseva One", cursive;
  margin-bottom: 40px;
}

.section-two .container .right h2 {
  font-family: "Yeseva One", cursive;
  font-size: 30px;
  font-weight: 400;
  color: #252219;
  margin-bottom: 55px;
  margin-top: 40px;
}

.section-two .container .right h2 span {
  font-family: "Lato", sans-serif;
  color: #252219;
  font-size: 20px;
  margin-left: 6px;
  display: inline-block;
}

.section-two .container .right button {
  background-color: #eb592d;
  border: 1px solid #eb592d;
  padding: 20px 50px;
}

.section-two .container .right button a {
  text-decoration: none;
  color: white;
}

.section-two .container .right button:hover {
  background-color: transparent;
}

.section-two .container .right button:hover a {
  color: #eb592d;
}

/*
font-family: 'Yeseva One', ;
font-family: 'Lato', ;
*/
/*# sourceMappingURL=name.css.map */