
#res {
    @media screen and (max-width: 992px) {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        background-position: center;
        box-shadow: 5px 5px 13px 0 rgba(204, 22, 134, 0.3);
        display: block;
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 1;
    }
}
header{
    background: transparent; 
    z-index: 12;
    width:100%;
    position: absolute;
    padding:20px 0px;  
    position:fixed;
    @media screen and (max-width: 992px) {
        height:80px;
        width: 100% !important;
     }
        .content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: 992px) {
            width: 100% !important;
         }
         .icon {
            display: none;
            text-decoration: none;
            @media screen and (max-width: 992px) {
                display:block;
            }
             i{
                display: none;
                @media screen and (max-width: 992px) {
                    display:block;
                }
             }
          }
          
        img{
            height:38px;
        }
    ul{
        display: flex;
        @media screen and (max-width: 992px) {
            background-color: #1F1F1F;
            padding: 20px;
            text-align: center;
            display: none;
         }
        
        li{
            list-style: none;
            
            a{
                display: inline-block;
            color: white;
            text-align: center;
            padding: 20px 50px 20px 0px;
            text-decoration: none;
            @media screen and (max-width: 992px) {
                padding: 20px;
                text-align: center;
             }
            }
            button{
                    height: 60px;
                    width: 180px;
                
            }

        }
    }
}
}
.owl-carousel{
    .owl-nav{
        visibility: hidden;
    }
    .owl-dots{
        position: relative;
        top:-80px;
        transform: translate(50%,50%);
    }
    .cover,.cover1,.cover2{
        background-image: url(../images/banner/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100vh;
        color:white;
        .overlay{
            background-color: rgba(0, 0, 0, .6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            .container{
                box-sizing: border-box;
                //max-width: 40%;
                .content{
                    max-width: 50%;
                    @media screen and (max-width: 992px) {
                        max-width: 100%;
                     }
                        h1{
                        font-family: 'Yeseva One', ;
                        font-size: 65px;
                        font-weight: 900;
                        margin-bottom: 10px;
                        line-height: 75px;
                        @media screen and (max-width: 992px) {
                            font-size: 30px;
                            line-height: 55px;
                         }
                        }
                p{
                    margin-bottom: 30px;
                }
                button{
                    height: 60px;
                    width: 180px;
                    @media screen and (max-width: 992px) {
                        height: 40px;
                        width: 120px;
                     }
                    
                }
            }   
        }
        
    }
    }
}    
.cover1{
    background-image: url(../images/banner/banner2.png);
}
.cover2{
    background-image: url(../images/banner/banner3.png);
}
/*ABOUT US*/
.about-us{
    padding: 150px 0px;
    background: #FDF9F6;
    @media screen and (max-width: 992px) {
        padding:40px 0px;
      }
    .content{
        @include flex;
        @media screen and (max-width: 992px) {
            align-items: flex-start;
          }
        .left{
            position: relative;
            @media screen and (max-width: 992px) {
                margin-bottom: 20px;
              }
            .r-img{
                position: absolute;
                border-left:15px solid white;
                border-top:15px solid white ;
                right:-160px;
                bottom:0px;
                box-sizing: border-box;
                @media screen and (max-width: 992px) {
                    width:145px;
                    right:-40px;
                    bottom:0px;
                    height:182px;
                  }
            }
            .l-img{
                @media screen and (max-width: 992px) {
                    width:280px;
                  }
                
            }
        }
        .right{
            width: 472px;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
            h3{
                margin-bottom: 21px;
                font-size: 50px;
                color:$header-color;
                @media screen and (max-width: 992px) {
                    font-size: 35px;
                  }
            }
            p{
                font-size: 16px;
            }
            h2{
                margin: 37px 0px 55px 0px;
                font-size: 30px;
                @media screen and (max-width: 992px) {
                    font-size: 25px;
                  }
                span{
                    font-size: 20px;
                    @media screen and (max-width: 992px) {
                        font-size: 22px;
                      }
                }
            }
            button{
                width: 153px;
                height: 60px;
                font-size: 16px;
                @media screen and (max-width: 992px) {
                    height: 40px;
                    width: 120px;
                 }
            }
        }
    }

}
/*OUR SERVICES*/
.our-service{
    padding:150px 0px;
    @media screen and (max-width: 992px) {
        padding: 40px 0px;
     }
    .content{
        .our-service-description{
            margin-bottom: 53px;
            @include flex-center;
            flex-direction: column;
            h2{
                font-size: 50px;
                font-weight: 400;
                line-height: 51px;
                color:$header-color;
                margin-bottom: 21px;
                @media screen and (max-width: 992px) {
                   font-size: 35px;
                 }
            }
            p{
                line-height: 32px;
                text-align: center;
                width: 540px;
                font-size: 16px;
                color:$gray-color;
                margin-bottom: 13px;
                @media screen and (max-width: 992px) {
                    width: 100%;
                 }
            }
        }
        .our-service-description-boxes{
            @include flex;
            overflow: hidden;
            .box{
                @include flex;
                flex-direction: column;
                border: 1px solid rgba(235, 89, 45,0.3);
                width: 350px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                @media screen and (max-width: 992px) {
                    width: 100%;
                    margin-bottom: 20px;
                 }
                .box-img{
                    @include flex;
                flex-direction: column;
               
                overflow: hidden;
                height: 200px;           
                    img{
                        width: 100%;
                        height: 100% !important;
                        transition: 0.3s;
                        overflow: hidden;
                        &:hover{
                            width: 100%;
                            transform: scale(1.1);
                            transition: 0.3s;
                            overflow: hidden;
                        }
                    }
                    .icon-div{
                        background-color: white;
                        padding:20px 25px;
                        border-radius: 50%;
                        position: absolute;
                        top:170px;
                        box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.28);
                        i{
                           // position: absolute;
                            color:$maincolor;
                        }
                    }
                }    
                .box-description{
                    @include flex-center;
                    flex-direction: column;
                    overflow: hidden;
                    padding: 64px 60px;
                    h2{
                        font-size: 25px;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 8px;
                    }
                    p{
                        width: 228px;
                        line-height: 32px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
/*OUR PRICING*/
.our-pricing{
    background-image: url(../images/banner/prise_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 819px;
    padding: 144px 0px 100px 0px;
    @media screen and (max-width: 992px) {
       height:1200px;
        padding: 40px 0px 40px 0px;
        align-items: flex-start;
     }
    .overlay-2{
        background: rgba(253, 249, 246,0.9);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        justify-content: center;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        @media screen and (max-width: 992px) {
            align-items: flex-start;
         }
        .content{
            @media screen and (max-width: 992px) {
                //height:1000px;
                //padding: 40px 0px 40px 0px;
                align-items: flex-start;
             }
            .our-pricing-description{
                margin-bottom: 53px;
                h2{
                    font-size: 50px;
                    font-weight: 400;
                    line-height: 51px;
                    color: #222222;
                    margin-bottom: 21px;
                }
                p{
                    font-size: 16px;
                    line-height: 32px;
                    color: #7f7f7f;
                    font-weight: 400;
                    margin-bottom: 13px;
                    width: 540px;
                    @media screen and (max-width: 992px) {
                        width: 100%;
                     }
                }
            }
            .owl-carousel{
                .owl-dots{
                    visibility: hidden;
                }
                .owl-nav{
                    z-index: 150;
                    visibility:visible;
                    position: relative;
                    margin: initial;
                    width: 100px;
                    left: 90%;
                    top: -490px;
                    @media screen and (max-width: 992px) {
                        left: 70%;
                        top: -1110px;
                     }
                    .owl-prev,.owl-next{
                        background-color: white;
                        color: #f39b80 !important;
                        border-radius: 4px;
                        border: 1px solid rgb(221, 196, 196);
                        height:34px;
                        width: 34px;
                        font-size: 27px;
                        text-align: center;
                        box-sizing: border-box;
                        line-height: 0px;
                        span{
                            line-height: 0px;
                        }
                        &:hover{
                            background-color: rgb(240, 32, 129);
                            border: none;
                            span{
                                color:white;
                                line-height: 0px;
                            }
                        }
                    }
                }
                .hair-styling{
                    width:100%;
                    @include flex;
                    align-items: flex-start;
                    .hair-styling-price{
                        width:40%;
                        @media screen and (max-width: 992px) {
                            width: 100%;
                         }
                        h2{
                            color:$maincolor;
                            margin-bottom: 35px;
                            font-size: 25px;
                        }
                        .details-price{
                            @include flex;
                            justify-content: flex-start;
                            margin-bottom: 50px;
                            .img-div{
                                margin-right: 20px;
                                @media screen and (max-width: 992px) {
                                    margin-right: 0px;
                                 }
                                img{
                                    height:60px;
                                    width: 60px;
                                }
                            }
                            .hair-style-info{
                                    span{
                                        font-size: 16px;
                                        color: #222222;
                                        font-family: "Yeseva One", cursive;
                                    }
                                    .dotted{
                                       color: #d7d4d1;
                                       margin: 0px 15px;
                                       font-size: 16px;
                                       @media screen and (max-width: 992px) {
                                        margin: 0px 10px;
                                        font-size: 10px;
                                     }
                                    }
                                p{
                                    font-size: 16px;
                                    color: #7f7f7f;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*Barbers*/
.barbers{
    padding:150px 0px;
    .content{
        
        .barbers-description{
            margin-bottom: 53px;
            @include flex-center;
            flex-direction: column;
            h2{
                font-size: 50px;
                font-weight: 400;
                line-height: 51px;
                color:$header-color;
                margin-bottom: 21px;
            }
            p{
                line-height: 32px;
                text-align: center;
                width: 540px;
                font-size: 16px;
                color:$gray-color;
                margin-bottom: 13px;
                @media screen and (max-width: 992px) {
                    width:100%;
                 }
            }
        }
        .barbers-description-boxes{
            @include flex;
            overflow: hidden;

            .box{
                @include flex;
                flex-direction: column;
                width: 350px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                @media screen and (max-width: 992px) {
                    width: 100%;
                    border: 1px solid rgba(235, 89, 45,0.3);
                    box-sizing: border-box;
                    margin-bottom: 15px;
                 }
                &:hover{
                    .box-img{
                        img{
                                width: 100%;
                                transform: scale(1.1);
                                transition: 0.3s;
                                overflow: hidden;
                            
                        }
                    }
                }
                .box-img{
                @include flex;
                flex-direction: column;
                overflow: hidden;
                height: 367px;   
                @media screen and (max-width: 992px) {
                    width: 100%;
                }        
                    img{
                        width: 100%;
                        height: 100% !important;
                        transition: 0.3s;
                        overflow: hidden;
                        &:hover{
                            width: 100%;
                            transform: scale(1.1);
                            transition: 0.3s;
                            overflow: hidden;
                        }
                    }
                }    
                .box-description{
                    @include flex-center;
                    flex-direction: column;
                    overflow: hidden;
                    background: #fdf9f6;
                    padding: 36px 0 35px 0;
                    width: 100%;
                    h2{
                        font-size: 25px;
                        font-weight: 400;
                        line-height: 1.2em;
                        margin-bottom: 8px;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        color: $maincolor;
                        text-align: center;
                    }
                }
            }
        }
    }
}
/*Testimonial*/
    .testimonial{
        padding-bottom: 144px;
        
        @media screen and (max-width: 992px) {
            padding-bottom: 40px;
         }
        h2{
            font-size: 50px;
        font-weight: 400;
        line-height: 51px;
        color: #222222;
        text-align: center;
        margin-bottom: 21px;
        }
        .owl-carousel{
            .owl-dots{
                visibility: hidden;
            }
            .content{
                .testimonial-description{
                    @include flex-center;
                    flex-direction: column;
                    p{
                        text-align: center;
                        color: #7f7f7f;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        margin-bottom: 40px;
                        font-style: italic;
                        width: 635px;
                        @media screen and (max-width: 992px) {
                            width: 100%;
                        }
                    }
                    img{
                        height: 60px;
                        width: 60px;
                    }
                    h5{
                        color: #7f7f7f;
                        font-weight: 400;
                        font-size: 18px;
                        margin-top: 21px;
                    }
                }
            }
        }    
    }
/*form*/
.form{
    padding: 150px 0px 120px 0px;
    background: #fdf9f6;
    h3{
        font-size: 50px;
        font-weight: 400;
        line-height: 51px;
        color: $header-color;
        margin-bottom: 21px;      
        @media screen and (max-width: 992px) {
            font-size: 25px;
         }  
    }
    .content{
        @include flex;
        align-items: flex-start;
        .make-appointment-inputs{
            @include flex;
            flex-direction: column;
            align-items: flex-start;
            input,textarea{
                resize: none;
                height:50px;
                width: 567px;
                border: 0;
                padding-bottom: 3px;
                border-bottom: 1px solid #c1c1c1;
                padding-left: 10px;
                color: #000;
                background: transparent;
                margin-bottom: 32px;
                @media screen and (max-width: 992px) {
                    width: 100%;
                 }
                &::placeholder{
                    color:#c1c1c1;
                }
            }
            textarea{
                height: 97px;
            }
            p{
                width:390px;
                margin-bottom: 40px;
                color: #464444;
                line-height: 30px;
                @media screen and (max-width: 992px) {
                    width: 100%;
                 }
            }
            button{
                width:185px;
                height:60px;
                @media screen and (max-width: 992px) {
                    width:120px;
                    height:40px;
                    margin-bottom: 20px;
                 }
            }
        }
        .details{
            
            div{
                width:100%;
                margin-bottom: 36px;
                h2{
                    margin-bottom: 8px;
                    font-size: 18px;
                    color: #4a4948;
                    font-weight: 400;
                    line-height: 1.2em;
                }
                p{
                    @include flex;
                    align-items: flex-start;
                    width:350px;
                    @media screen and (max-width: 992px) {
                        width: 100%;
                     }
                    font-size: 16px;
                    line-height: 30px;
                    color: #7f7f7f;
                    font-family: "Lato", sans-serif;
                    span{
                        width: 50%;
                    }
                }
            }
        }
    }
}
/*FOOTER*/
footer{
    background-color: $dark-gray;
    padding: 130px 0px 110px 0px;
    .content{
        @include flex;
        align-items: flex-start;
        div{
            margin-right: 50px;
            &:last-child{
                margin-right: 0px;
            }
        }
        .logo{
            width: 300px;
            img{
                margin-bottom: 35px;
            }
            p{
                color: $gray-color;
                line-height: 30px;
                font-size: 16px;
                margin-bottom: 30px;
            }
            ul{
                flex-direction:row;
                width: 40%;
                li{
                   
                    a{
                        color: $gray-color;
                        text-decoration: none;
                        &:hover{
                            color:$maincolor;
                        }
                    }
                }
            }
        }
        .links{
            ul{
                flex-direction: column;
                
                align-items: flex-start;
                h3{
                    margin: 20px 0px 38px 0px;
                    font-size: 18px;
                    color: white;
                }
                li{
                    margin-bottom: 15px;
                    a{
                        color: $gray-color;
                        text-decoration: none;
                        font-size: 16px;
                        &:hover{
                            color:$maincolor;
                        }
                    }
                }
            }
        }
    }
}


/*POPUP*/

#myImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index:50; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:rgba(74, 54, 0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: initial;
    .make-appointment{
        padding:30px;
        @include flex;
        flex-direction: column;
       button{
           width:100%;
           height:60px;
       }
        h2{
            text-align: center;
            font-size: 22px;
            color: #1F1F1F;
            margin-bottom: 46px;
            line-height: 1.2em;
        }
        .inputs,.input {
            @include flex;
            width: 100%;
            .input-group{
                width: 49%;
                position: relative;
                display: table;
                border-collapse: separate;
                @media screen and (max-width: 992px) {
                    width: 100%;
                }
                .form-control{
                    border-radius: initial;
                    width: 100%;
                    height: 50px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                border: 1px solid #ccc;
                border-right: none;
                }
                .input-group-addon{
                    border-radius: initial;
                    height: 50px !important;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1;
                    color: #555;
                    text-align: center;
                    background-color: initial;
                    border: none;
                    width: 1%;
                    white-space: nowrap;
                    vertical-align: middle;
                    display: table-cell;
                    .glyphicon{
                        position: relative;
                        top: 1px;
                        display: inline-block;
                        font-family: 'Glyphicons Halflings';
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1;
                    } 
                    .glyphicon-time{
                        &:before {
                            content: "\e023";
                        }
                    }
                }
            }
            select{
                width: 49%;
                height: 50px;
                margin-bottom: 30px;
                color: rgb(172, 165, 165);
                padding: 0px 4px ;
                border: 1px solid #ddd;
                box-sizing: border-box;
                @media screen and (max-width: 992px) {
                    width: 100%;
                }
                &:focus {
                    outline:none;
                  }
            }
            input{
                width: 49%;
                height: 50px;
                margin-bottom: 30px;
                color: rgb(172, 165, 165);
                padding: 18px;
                border: 1px solid #ddd;
                box-sizing: border-box;
                @media screen and (max-width: 992px) {
                    width: 100%;
                }
                &:focus {
                    outline:none;
                    border-bottom:1px solid $gray-color;
                  }
                &::placeholder{
                    color: rgb(172, 165, 165);
                }
            }
            /**/
            input[type="date"] {
                color: rgb(172, 165, 165);
                display:block;
                position:relative;
                padding:1rem 3.5rem 1rem 0.75rem;
                font-size:1rem;
                border:1px solid #ddd;
                background:
                  white
                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
                  right 1rem
                  center
                  no-repeat;
                
                cursor:pointer;
              }
              input[type="date"]:focus {
                outline:none;
                border-bottom:1px solid $gray-color;
              }
              
              ::-webkit-datetime-edit {}
              ::-webkit-datetime-edit-fields-wrapper {}
              ::-webkit-datetime-edit-month-field:hover,
              ::-webkit-datetime-edit-day-field:hover,
              ::-webkit-datetime-edit-year-field:hover {
                background:rgba(0, 120, 250, 0.1);
              }
              ::-webkit-datetime-edit-text {
                opacity:0;
              }
              ::-webkit-clear-button,
              ::-webkit-inner-spin-button {
                display:none;
              }
              ::-webkit-calendar-picker-indicator {
                position:absolute;
                width:2.5rem;
                height:100%;
                top:0;
                right:0;
                bottom:0;
                
                opacity:0;
                cursor:pointer;
                
                color:#ddd;
                background:#ddd;
               
              }
              
              input[type="date"]:hover::-webkit-calendar-picker-indicator { opacity:0.05; }
              input[type="date"]:hover::-webkit-calendar-picker-indicator:hover { opacity:0.15; }
            /**/
        }
        .input{
            input{
                width:100%;
            }
        }
    }
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
/*
font-family: 'Yeseva One', ;
font-family: 'Lato', ;
*/
/*owl-carousel,.owl-theme{
    @media screen and (max-width: 992px) {
        height:100vh;
      }
}*/
.owl-dots{
    position: absolute;
    top:600px;
    right:50%;
}