
header{
    background: transparent; 
    z-index: 12;
    width:100%;
    position: absolute;
    padding:20px 0px;  
    position:fixed;
    
        .content{
        display: flex;
        justify-content: space-between;
        img{
            height:38px;
        }
    ul{
        
        li{
            list-style: none;
            
            a{
                display: inline-block;
            color: white;
            text-align: center;
            padding: 20px 50px 20px 0px;
            text-decoration: none;
            }
            button{
                    height: 60px;
                    width: 180px;
                
            }

        }
    }
}
}
.cover{
    background-image: url(../images/banner/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    color:white;
    .overlay{
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .container{
            box-sizing: border-box;
            //max-width: 40%;
            .content{
                max-width: 50%;
                    h1{
                    font-family: 'Yeseva One', ;
                    font-size: 65px;
                    font-weight: 900;
                    margin-bottom: 10px;
                    line-height: 75px;
                    }
            p{
                margin-bottom: 30px;
            }
            button{
                height: 60px;
                        width: 180px;
                
            }
        }   
    }
    
}
}
.about-us{
    margin: 150px 0px;
    .content{
        @include flex;
        .left{
            position: relative;
            .r-img{
                position: absolute;
                border-left:15px solid white;
                border-top:15px solid white ;
                right:-160px;
                top:85px;
                box-sizing: border-box;
            }
        }
        .right{
            width: 472px;
            h3{
                margin-bottom: 21px;
                font-size: 50px;
                color:$header-color;
            }
            p{
                font-size: 16px;
            }
            h2{
                margin: 37px 0px 55px 0px;
                font-size: 30px;
                span{
                    font-size: 20px;
                }
            }
            button{
                width: 153px;
                height: 60px;
                font-size: 16px;
            }
        }
    }

}
/*OUR SERVICES*/
.our-service{
    padding:150px 0px;
    .content{
        .our-service-description{
            margin-bottom: 53px;
            @include flex-center;
            flex-direction: column;
            h2{
                font-size: 50px;
                font-weight: 400;
                line-height: 51px;
                color:$header-color;
                margin-bottom: 21px;
            }
            p{
                line-height: 32px;
                text-align: center;
                width: 540px;
                font-size: 16px;
                color:$gray-color;
                margin-bottom: 13px;
            }
        }
        .our-service-description-boxes{
            @include flex;
            overflow: hidden;
            .box{
                @include flex;
                flex-direction: column;
                border: 1px solid rgba(235, 89, 45,0.3);;
                width: 350px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                .box-img{
                    @include flex;
                flex-direction: column;
               
                overflow: hidden;
                height: 200px;           
                    img{
                        width: 100%;
                        height: 100% !important;
                        transition: 0.3s;
                        overflow: hidden;
                        &:hover{
                            width: 100%;
                            transform: scale(1.1);
                            transition: 0.3s;
                            overflow: hidden;
                        }
                    }
                    .icon-div{
                        background-color: white;
                        padding:20px 25px;
                        border-radius: 50%;
                        position: absolute;
                        top:170px;
                        box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.28);
                        i{
                           // position: absolute;
                            color:$maincolor;
                        }
                    }
                }    
                .box-description{
                    @include flex-center;
                    flex-direction: column;
                    overflow: hidden;
                    padding: 64px 60px;
                    h2{
                        font-size: 25px;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 8px;
                    }
                    p{
                        width: 228px;
                        line-height: 32px;
                        text-align: center;
                    }
                }
            }
        }
    }
}


/*barbers*/
.barbers{
    padding:150px 0px;
    .content{
        .barbers-description{
            margin-bottom: 53px;
            @include flex-center;
            flex-direction: column;
            h2{
                font-size: 50px;
                font-weight: 400;
                line-height: 51px;
                color:$header-color;
                margin-bottom: 21px;
            }
            p{
                line-height: 32px;
                text-align: center;
                width: 540px;
                font-size: 16px;
                color:$gray-color;
                margin-bottom: 13px;
            }
        }
        .barbers-description-boxes{
            @include flex;
            overflow: hidden;

            .box{
                @include flex;
                flex-direction: column;
                width: 350px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                &:hover{
                    .box-img{
                        img{
                                width: 100%;
                                transform: scale(1.1);
                                transition: 0.3s;
                                overflow: hidden;
                            
                        }
                    }
                }
                .box-img{
                @include flex;
                flex-direction: column;
                overflow: hidden;
                height: 367px;           
                    img{
                        width: 100%;
                        height: 100% !important;
                        transition: 0.3s;
                        overflow: hidden;
                        &:hover{
                            width: 100%;
                            transform: scale(1.1);
                            transition: 0.3s;
                            overflow: hidden;
                        }
                    }
                }    
                .box-description{
                    @include flex-center;
                    flex-direction: column;
                    overflow: hidden;
                    background: #fdf9f6;
                    padding: 36px 0 35px 0;
                    width: 100%;
                    h2{
                        font-size: 25px;
                        font-weight: 400;
                        line-height: 1.2em;
                        margin-bottom: 8px;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        color: $maincolor;
                        text-align: center;
                    }
                }
            }
        }
    }
}


/*FOOTER*/
footer{
    background-color: $dark-gray;
    padding: 130px 0px 110px 0px;
    .content{
        @include flex;
        align-items: flex-start;
        div{
            margin-right: 50px;
            &:last-child{
                margin-right: 0px;
            }
        }
        .logo{
            width: 300px;
            img{
                margin-bottom: 35px;
            }
            p{
                color: $gray-color;
                line-height: 30px;
                font-size: 16px;
                margin-bottom: 30px;
            }
            ul{
                flex-direction:row;
                width: 40%;
                li{
                   
                    a{
                        color: $gray-color;
                        text-decoration: none;
                        &:hover{
                            color:$maincolor;
                        }
                    }
                }
            }
        }
        .links{
            ul{
                flex-direction: column;
                
                align-items: flex-start;
                h3{
                    margin: 20px 0px 38px 0px;
                    font-size: 18px;
                    color: white;
                }
                li{
                    margin-bottom: 15px;
                    a{
                        color: $gray-color;
                        text-decoration: none;
                        font-size: 16px;
                        &:hover{
                            color:$maincolor;
                        }
                    }
                }
            }
        }
    }
}


/*POPUP*/

#myImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index:50; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:rgba(74, 54, 0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: initial;
    .make-appointment{
        padding:30px;
        @include flex;
        flex-direction: column;
       button{
           width:100%;
           height:60px;
       }
        h2{
            text-align: center;
            font-size: 22px;
            color: #1F1F1F;
            margin-bottom: 46px;
            line-height: 1.2em;
        }
        .inputs,.input {
            @include flex;
            width: 100%;
            select{
                width: 49%;
                height: 50px;
                margin-bottom: 30px;
                color: rgb(172, 165, 165);
                padding: 0px 4px ;
                border: 1px solid #ddd;
                box-sizing: border-box;
                &:focus {
                    outline:none;
                  }
            }
            input{
                width: 49%;
                height: 50px;
                margin-bottom: 30px;
                color: rgb(172, 165, 165);
                padding: 18px;
                border: 1px solid #ddd;
                box-sizing: border-box;
                &:focus {
                    outline:none;
                    border-bottom:1px solid $gray-color;
                  }
                &::placeholder{
                    color: rgb(172, 165, 165);
                }
            }
            /**/
            input[type="date"] {
                color: rgb(172, 165, 165);
                display:block;
                position:relative;
                padding:1rem 3.5rem 1rem 0.75rem;
                font-size:1rem;
                border:1px solid #ddd;
                background:
                  white
                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
                  right 1rem
                  center
                  no-repeat;
                
                cursor:pointer;
              }
              input[type="date"]:focus {
                outline:none;
                border-bottom:1px solid $gray-color;
              }
              
              ::-webkit-datetime-edit {}
              ::-webkit-datetime-edit-fields-wrapper {}
              ::-webkit-datetime-edit-month-field:hover,
              ::-webkit-datetime-edit-day-field:hover,
              ::-webkit-datetime-edit-year-field:hover {
                background:rgba(0, 120, 250, 0.1);
              }
              ::-webkit-datetime-edit-text {
                opacity:0;
              }
              ::-webkit-clear-button,
              ::-webkit-inner-spin-button {
                display:none;
              }
              ::-webkit-calendar-picker-indicator {
                position:absolute;
                width:2.5rem;
                height:100%;
                top:0;
                right:0;
                bottom:0;
                
                opacity:0;
                cursor:pointer;
                
                color:#ddd;
                background:#ddd;
               
              }
              
              input[type="date"]:hover::-webkit-calendar-picker-indicator { opacity:0.05; }
              input[type="date"]:hover::-webkit-calendar-picker-indicator:hover { opacity:0.15; }
            /**/
        }
        .input{
            input{
                width:100%;
            }
        }
    }
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
/*
font-family: 'Yeseva One', ;
font-family: 'Lato', ;
*/
/*.owl-carousel,.owl-theme{
    height: 900px;
}*/